# Assignment 3

# 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

In [ ]:
For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [25]:
def arithmetic_operation(a):
    ls=['+','-','/','//','*']
    count=0
    for i in a:
        count+=1
        if i in ls:
            temp=a.split(a[count])
            if temp[1]=='+':
                res=int(temp[0])+int(temp[2])
                res=res//int(temp[0])+int(temp[2])
                print(res)
            if temp[1]=='-':
                res=int(temp[0])-int(temp[2])
                res=res//int(temp[0])-int(temp[2])
                print(res)
            if temp[1]=='*':
                res=int(temp[0])*int(temp[2])
                res=res//int(temp[0])*int(temp[2])
                print(res)
            if temp[1]=='/':
                res=int(temp[0])/int(temp[2])
                res=res//int(temp[0])/int(temp[2])
                print(res)

In [27]:
arithmetic_operation("12 + 12")

14

In [28]:
arithmetic_operation("12 - 12")

-12

In [29]:
arithmetic_operation("12 * 12")

144

In [30]:
arithmetic_operation("12 // 0")

In [ ]:
2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

In [ ]:
 ➞ 47.08

 ➞ 3.42

 ➞ 68.28

In [39]:
import math
def perimeter(ls):
    j=0
    ans=0
    for i in range(3):

        if i==2:
            j=0
            x1=ls[j][0]
            y1=ls[j][1]
            x2=ls[j+2][0]
            y2=ls[j+2][1]
        else:
            x1=ls[j][0]
            y1=ls[j][1]
            x2=ls[j+1][0]
            y2=ls[j+1][1]
        ans+=math.sqrt((x2-x1)**2+(y2-y1)**2)
        j+=1
    print(ans)

In [40]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.07918859608948

In [41]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

In [42]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.2842712474619

# 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

# Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

In [ ]:
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [59]:
def bonus(days):
    if days in range(0,33):
        ans=days*0
        return ans
    if days in range(33,41):
        ans=0+((days-32)*325)
        return ans
    if days in range(41,49):
        ans=0+(8*325)+((days-48)*550)
        return ans
    if days in range(48,1000):
        ans=0+(8*325)+(8*550)+((days-48)*600)
        return ans

In [56]:
bonus(1)

0

In [57]:
bonus(37)

1625

In [60]:
bonus(50)

8200

# 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

In [ ]:
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

In [2]:
def tallest_skyscraper(ls):
    ans=ls[0][1]+ls[1][1]+ls[2][1]+ls[3][1]
    return f'height of building is {ans}'

In [3]:
tallest_skyscraper([[0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

'height of building is 3'

In [4]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

'height of building is 4'

In [5]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
])

'height of building is 2'

# 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

In [ ]:
Examples

is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

 ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [42]:
def is_disarium(nr):
    temp=nr
    length=len(str(nr))
    i=3
    res=0
    while nr!=0:
        ans=nr%10
#         print('ans ',ans)
        res+=ans**(i)
#         print('res ',res)
        nr=int(nr/10)
#         print('nr ',nr)
#         print('i ',i)
        i-=1
    return res==temp

In [43]:
is_disarium(544)

False

In [44]:
is_disarium(135)

True

In [45]:
125+9+1

135

In [46]:

is_disarium(518)

True

In [48]:

is_disarium(466)

False